* {
  font-size: 20px;
}

/* .container {
  position: relative;
} */

header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  margin: 0 2% 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container {
  margin: 0 3%;
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  /* margin: 0 3%; */
  max-width: 1400px;
  /* justify-content: center; */
}

#sidebar {
  flex: 1;
  height: auto;
  background-color: rgba(223, 178, 178, 0.7);
  margin: 0 2% 0 0;
  padding: 20px 10px 10px 20px;
  nav {
    padding: 5px;
    a {
      width: 180px;
      padding: 3px 0;
      display: block;
      text-decoration: none;
      font-size: 93%;
      &:active {
        border-bottom: 2px solid red;
      }
    }
  }
}

#main-content {
  flex: 4;
}

